{% extends "layout.html" %}
{% block content %}
    <div class="text">

        <h3 id="schedule-heading">AJANVARAUS</h3>
        <br>

        <form action="/vahvistus" method="post" onkeydown="return event.key != 'Enter';">
            Noudon tiedot:
            <br>
            <input type="hidden" name="noutolaji" value={{ noutolaji }}>
            <input type="hidden" name="kuvaus" value={{ kuvaus }}>
            <input type="hidden" name="postinumero" value={{ postinumero }}>
            {% if noutolaji == "1" %} 1 esine {% endif %}
            {% if noutolaji == "2" %} 2-3 esinettä {% endif %}
            {% if noutolaji == "3" %} 30 minuutin nouto {% endif %}
            <br> {{ kuvaus }}

            <br><br>
            Valitse noudon ajankohta:
            <br><br>
            <a href="/edellinen/{{ viikko_nr }}/{{ noutolaji }}/{{ kuvaus }}/{{ postinumero }}">&nbsp &nbsp<-- Edellinen viikko</a>&nbsp &nbsp VIIKKO {{ viikko_nr % 100}} &nbsp &nbsp<a href="/seuraava/{{ viikko_nr }}/{{ noutolaji }}/{{ kuvaus }}/{{ postinumero }}">Seuraava viikko --></a>
            <br><br>

            <table style="width:100%">
                <colgroup>
                    <col style="background-color:azure">
                    <col style="background-color:lightgrey">
                    <col style="background-color:azure">
                    <col style="background-color:lightgrey">
                    <col style="background-color:azure">
                    <col style="background-color:lightgrey">
                </colgroup>
                <tr>
                    <th></th>
                    <th>Ma</th>
                    <th>Ti</th>
                    <th>Ke</th>
                    <th>To</th>
                    <th>Pe</th>
                </tr>
                <tr>
                    <th></th>
                    <th>{{ paivat[0][0].day }}.{{ paivat[0][0].month }}.</th>
                    <th>{{ paivat[1][0].day }}.{{ paivat[1][0].month }}.</th>
                    <th>{{ paivat[2][0].day }}.{{ paivat[2][0].month }}.</th>
                    <th>{{ paivat[3][0].day }}.{{ paivat[3][0].month }}.</th>
                    <th>{{ paivat[4][0].day }}.{{ paivat[4][0].month }}.</th>
                </tr>
                <tr>
                    <td>Klo 08-12</td>
                    <td>{% if varattu[0] == 0 %} <input type="radio" name="aika" value="0" checked="checked"> {{ hinnat[0]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[3] == 0 %} <input type="radio" name="aika" value="3"> {{ hinnat[1]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[6] == 0 %} <input type="radio" name="aika" value="6"> {{ hinnat[2]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[9] == 0 %} <input type="radio" name="aika" value="9"ß> {{ hinnat[3]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[12] == 0 %} <input type="radio" name="aika" value="12"> {{ hinnat[4]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>Klo 12-16</td>
                    <td>{% if varattu[1] == 0 %} <input type="radio" name="aika" value="1"> {{ hinnat[0]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[4] == 0 %} <input type="radio" name="aika" value="4"> {{ hinnat[1]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[7] == 0 %} <input type="radio" name="aika" value="7"> {{ hinnat[2]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[10] == 0 %} <input type="radio" name="aika" value="10"> {{ hinnat[3]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[13] == 0 %} <input type="radio" name="aika" value="13"> {{ hinnat[4]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                </tr> 
                <tr></tr>
                <tr>
                    <td>Klo 16-19</td>
                    <td>{% if varattu[2] == 0 %} <input type="radio" name="aika" value="2"> {{ hinnat[0]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[5] == 0 %} <input type="radio" name="aika" value="5"> {{ hinnat[1]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[8] == 0 %} <input type="radio" name="aika" value="8"> {{ hinnat[2]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[11] == 0 %} <input type="radio" name="aika" value="11"> {{ hinnat[3]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                    <td>{% if varattu[14] == 0 %} <input type="radio" name="aika" value="14"> {{ hinnat[4]}}eur {% else %} TÄYNNÄ {% endif %}</td>
                </tr>
            </table>
            <br>
            
            <input type="submit" value="Vahvista noutoaika">
                
        </form>
    </div>
{% endblock content %}
