{% extends "layout.html" %}
{% block content %}
<div class="text">
  <h2>Tervetuloa!</h2>
  <p>
    Tervetuloa Easynoudon ajanvaraukseen<br>
    Easynouto noutaa vaivattomasti turhat tavarasi kotoa tai toimistolta
  </p>
  <br>
  <h4>Tee tilaus:</h4>
  <form action="/ajanvaraus" method="post" onkeydown="return event.key != 'Enter';">
    <label for="noutolaji">Noudon tiedot:</label><br>
    <select id="noutolaji" name="noutolaji" value={{ noutolaji }}>
        <option value="1">Yksi esine - alk 59€</option>
        <option value="2">2-3 esinettä - alk 99€</option>
        <option value="3">30 min - alk 149€</option>
    </select>
    <br><br>

   Noudettavat esineet suurin piirtein:<br><input type="text" name="kuvaus" maxlength="60" size="30" value={{ kuvaus }}><br>
    <br>
    Postinumero:<BR><input type="number" name="postinumero" value={{ postinumero }}><br>
    <br>
    
    <input type="submit" value="Jatka ajanvaraukseen">
    <br>
    <div style="color:red;" >{{ error }}</div>
  </form>
</div>
{% endblock content %}
