<table>
<tr>
    <th></th>
    <th>Ma</th>
    <th>Ti</th>
    <th>Ke</th>
</tr>
<tr>
    <td>Klo 08-12</td>
    <td><input type="radio" name="row-1" data-col="1">69e</td>
    <td><input type="radio" name="row-1" data-col="4">69e</td>
    <td><input type="radio" name="row-1" data-col="7">89e</td>
    <td><input type="radio" name="row-1" data-col="10">69e</td>
    <td><input type="radio" name="row-1" data-col="13">89e</td>
</tr>
<tr>
    <td>Klo 12-16</td>
    <td><input type="radio" name="row-1" data-col="2">69e</td>
    <td><input type="radio" name="row-1" data-col="5">69e</td>
    <td><input type="radio" name="row-1" data-col="8">69e</td>
    <td><input type="radio" name="row-1" data-col="11">69e</td>
    <td><input type="radio" name="row-1" data-col="14">69e</td>
</tr>
<tr>
    <td>Klo 16-19</td>
    <td><input type="radio" name="row-1" data-col="3">119e</td>
    <td><input type="radio" name="row-1" data-col="6">69e</td>
    <td><input type="radio" name="row-1" data-col="9">69e</td>
    <td><input type="radio" name="row-1" data-col="12">69e</td>
    <td><input type="radio" name="row-1" data-col="15">69e</td>
</tr>
</table>