{% extends "layout.html" %}
{% block content %}
    <div class="text">

        <h3>VAHVISTUS TILAUKSESTA</h3>
        <br>

        Noudon tiedot:
        <br>
        {% if noutolaji == "1" %} 1 esine {% endif %}
        {% if noutolaji == "2" %} 2-3 esinettä {% endif %}
        {% if noutolaji == "3" %} 30 minuutin nouto {% endif %}
        {% if noutolaji == "4" %} XL nouto {% endif %}
        <br> 
        {{ kuvaus }}
        <br><br>
        Hinta: {{ hinta }} €

        <br><br>
        Noudon ajankohta: 
            {% if day_nr == 1 %}maanantai{% endif %}  
            {% if day_nr == 2 %}tiistai{% endif %}  
            {% if day_nr == 3 %}keskiviikko{% endif %}  
            {% if day_nr == 4 %}torstai{% endif %}  
            {% if day_nr == 5 %}perjantai{% endif %}  
            {{ pvm.day }}.{{pvm.month }}.{{pvm.year }} klo:
            {% if time_frame == "1" %} 8 - 12{% endif %}  
            {% if time_frame == "2" %} 12-16{% endif %}  
            {% if time_frame == "3" %} 16-19{% endif %}  

        <br><br>
        Tilaajan tiedot:
        <br>
        Nimi: {{ nimi }}<br>
        Osoite: {{ osoite }}<br>
        Postinumero: {{ postinumero }}<br>
        Postitoimipaikka: {{ kaupunki }}<br>
        Puhelinnumero: {{ puhelin }}<br>
        Email: {{ email }}<br>
        Viesti Easynoudolle: {{ viesti }}<br>
    </div>
{% endblock content %}
