{% extends "layout.html" %}
{% block content %}
    <div class="text">

        <h3>VAHVISTUS TILAUKSESTA</h3>
        <br>

        Noudon tiedot:
        <br>
        {% if noutolaji == "1" %} 1 esine {% endif %}
        {% if noutolaji == "2" %} 2-3 esinettä {% endif %}
        {% if noutolaji == "3" %} 30 minuutin nouto {% endif %}
        {% if noutolaji == "4" %} XL nouto {% endif %}
        <br> 
        {{ kuvaus }}
        <br><br>
        Hinta: {{ hinta }} €

        <br><br>
        Noudon ajankohta: {{viikonpv}} {{ pvm.day }}.{{pvm.month }}.{{pvm.year }} klo: {{ klo }}

        <br><br>
        Tilaajan tiedot:
        <br>
        Nimi: {{ nimi }}<br>
        Osoite: {{ osoite }}<br>
        Postinumero: {{ postinumero }}<br>
        Postitoimipaikka: {{ kaupunki }}<br>
        Puhelinnumero: {{ puhelin }}<br>
        Email: {{ email }}<br>
        Viesti Easynoudolle: {{ viesti }}<br>
    </div>
{% endblock content %}
