{% extends "layout.html" %}
{% block content %}
    <div>

        <h3>VARAUSKALENTERI</h3>
        <br>

            <br><br>
            <a href="/lista/{{ date_id - 1}}/1"> &nbsp &nbsp <-- Edellinen päivä </a>  &nbsp &nbsp
                {% if day_nr == 1 %}maanantai{% endif %}  
                {% if day_nr == 2 %}tiistai{% endif %}  
                {% if day_nr == 3 %}keskiviikko{% endif %}  
                {% if day_nr == 4 %}torstai{% endif %}  
                {% if day_nr == 5 %}perjantai{% endif %}  
            {{ pvm.day }}.{{pvm.month }}.{{pvm.year }} &nbsp &nbsp <a href="/lista/{{ date_id + 1 }}/2"> Seuraava päivä --> </a>

            <br><br>

            Noudot klo 08-12
            <table style="width:100%">
                {% for task in tasks1 %}
                    <tr>
                        <td>Noutotyyppi:</td><td>{% if task[0] == 1 %}Yksi esine{% elif task[0] == 2 %}2-3 esinettä{% else %}30min nouto{% endif %}</td><td>Kuvaus: {{ task[1]}}</td><td>Hinta: {{ task[2]}} €</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>Osoite:</td><td>{{ task[3]}}</td><td>{{ task[4]}} {{ task[5]}}</td>
                    </tr>
                    <tr>
                        <td>Tilaaja:</td><td>{{ task[6]}}</td><td>Puhelin: {{ task[7]}} </td><td>Email: {{ task[8]}}</td>
                    </tr>
                    <tr>
                        <td>Ohjeet:</td><td>{{ task[9]}} </td>
                    </tr>                    
                    <tr><td><br></td></tr>
                {% endfor %}
            </table>
            <br>

            Noudot klo 12-16
            <table style="width:100%">
                {% for task in tasks2 %}
                    <tr>
                        <td>Noutotyyppi:</td><td>{% if task[0] == 1 %}Yksi esine{% elif task[0] == 2 %}2-3 esinettä{% else %}30min nouto{% endif %}</td><td>Kuvaus: {{ task[1]}}</td><td>Hinta: {{ task[2]}} €</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>Osoite:</td><td>{{ task[3]}}</td><td>{{ task[4]}} {{ task[5]}}</td>
                    </tr>
                    <tr>
                        <td>Tilaaja:</td><td>{{ task[6]}}</td><td>Puhelin: {{ task[7]}} </td><td>Email: {{ task[8]}}</td>
                    </tr>
                    <tr>
                        <td>Ohjeet:</td><td>{{ task[9]}} </td>
                    </tr>                    
                    <tr><td><br></td></tr>
                {% endfor %}
            </table>
            <br>

            Noudot klo 16-19
            <table style="width:100%">
                {% for task in tasks3 %}
                    <tr>
                        <td>Noutotyyppi:</td><td>{% if task[0] == 1 %}Yksi esine{% elif task[0] == 2 %}2-3 esinettä{% else %}30min nouto{% endif %}</td><td>Kuvaus: {{ task[1]}}</td><td>Hinta: {{ task[2]}} €</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>Osoite:</td><td>{{ task[3]}}</td><td>{{ task[4]}} {{ task[5]}}</td>
                    </tr>
                    <tr>
                        <td>Tilaaja:</td><td>{{ task[6]}}</td><td>Puhelin: {{ task[7]}} </td><td>Email: {{ task[8]}}</td>
                    </tr>
                    <tr>
                        <td>Ohjeet:</td><td>{{ task[9]}} </td>
                    </tr>                    
                    <tr><td><br></td></tr>
                {% endfor %}
            </table>
            <br>
            
    </div>
{% endblock content %}
